{
    "extends": ["airbnb","airbnb-typescript"],
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
      },

    "rules": {

        "@typescript-eslint/indent": ["error", 4]
    }
}